 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

 /* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #f1f1f1;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #88888885;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #7a7a7a;
 }

 ::after,
 ::before {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 li {
     list-style: none;
 }

 h1 {
     font-weight: 600;
     font-size: 1.5rem;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 .wrapper {
     display: flex;
 }

 .main {
     min-height: 100vh;
     width: 100%;
     overflow: hidden;
     transition: all 0.35s ease-in-out;
     background-color: #fafbfe;
 }

 #sidebar {
     width: 70px;
     min-width: 70px;
     z-index: 1000;
     transition: all .25s ease-in-out;
     display: flex;
     flex-direction: column;
     background-color: #198754;
 }

 #sidebar.expand {
     width: 260px;
     min-width: 260px;
 }

 #toggle-btn {
     background-color: transparent;
     cursor: pointer;
     border: 0;
     padding: 1rem 1.5rem;
 }

 #toggle-btn i {
     font-size: 1.5rem;
     color: #fff;
 }

 .sidebar-logo {
     margin: auto 0;
 }

 /* .sidebar-logo img {
     color: #FFF;
     font-size: 1.15rem;
     font-weight: 600;
 } */

 #sidebar:not(.expand) .sidebar-logo,
 #sidebar:not(.expand) a.sidebar-link span {
     display: none;
 }

 .sidebar-nav {
     padding: 3rem 0;
     flex: 1 1 auto;
 }

 a.sidebar-link {
     padding: .625rem 1.625rem;
     color: #FFF;
     display: block;
     font-size: 0.9rem;
     white-space: nowrap;
     border-left: 3px solid transparent;
 }

 .sidebar-link i {
     font-size: 1.1rem;
     margin-right: .75rem;
 }


 a.sidebar-link:hover {
     background-color: rgba(255, 255, 255, .075);
     border-left: 3px solid #115c39ff;
 }

 /* LOADER ANIMATION */
 .spinner-wrapper {
     background-color: #e2e2e2;
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 999;
 }

 .custom-tooltip-view {
     --bs-tooltip-bg: var(--bs-primary);
     --bs-tooltip-color: var(--bs-white);
 }

 .custom-tooltip-mark {
     --bs-tooltip-bg: var(--bs-success);
     --bs-tooltip-color: var(--bs-white);
 }

 .custom-tooltip-archive {
     --bs-tooltip-bg: var(--bs-warning);
     --bs-tooltip-color: var(--bs-dark);
 }