@media(min-width: 768px) {

    /*large (lg) in Bootsrap 5*/
    .news-input {
        width: 50%;
    }
}

.spinner-wrapper {
    background-color: #212529;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}