@media(min-width: 768px) {

    /*large (lg) in Bootsrap 5*/
    .news-input {
        width: 50%;
    }
}

.spinner-wrapper {
    background-color: #e2e2e2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.navbar-toggler {
    border-color: #198754;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25,135,84,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#login_main{
    background-image:url("./../src/img/TRC_BACKGROUND_IMAGE.jpg"); /* make this image's opacity lower using photo editing apps*/
    z-index: -99;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}